<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>

<body>
    <div class="container">

        <div class="s-container-1">
            <div class="division-2">
                <div class="d2-1">save your account now</div>
                <div class="d2-2">get unlimited discounts from purchases!</div>

                <div class="form">
                    <div>
                        <input type="email" name="email" id="user-email" placeholder="Email" class="form-input">
                    </div>
                    <div>
                        <input type="password" name="password" id="user-password" placeholder="Password"
                            class="form-input">
                    </div>

                    <div id="error-message"></div>

                    <div id="login-btn" onclick="login()">login</div>
                    <div class="signup_info">
                        <span>Don't have an account?</span>
                        <a class="signup_info_btn" href="/">signup</a>
                    </div>
                </div>
            </div>
            <div class="division-1">
                <div class="d1-1">Hello World</div>
                <div class="d1-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                    has been the
                    industry's standard dummy text ever since the 1500s.</div>
            </div>

        </div>
    </div>
</body>

<script src="/js/login.js"></script>

</html>